<div class="logged-in-header">
  <a href="/sessions/logout">logout</a>
</div>

<div class="add_new_location">
  <a href="/locations/new">add new location</a>
</div>

<div class="go_home">
  <a href="/">return home</a>
</div>

