<div class="container">
  <div class="errors">
    <% if @errors %>
    <p><%= @errors %></p>
    <% end %>
  </div>

  <div class = 'location_container'>

    <% @locations.each do |location| %>
      <h1>
        <a href="/locations/<%= location.id %>"><%= location.name %></a>
      </h1>

    <% end %>

  </div>



</div>