<!-- <div class="container">

  <div class = "individual_location"> -->
       <h1>
          <a href="/locations/<%= @location.id %>"><%= @location.name %></a></h1>

        <h2 class="spend">$<%= Spend.total(@location) %></h2>

        <h3 class="spend"><%= @location.city %></h3>


  </div>



</div>

