<div class="new-location-form">

  <form method="post" action="/locations">
      <input type="text" name="name" placeholder="name">
      <input type="text" name="city" placeholder="city">
      <input type="submit" value="Add">
  </form>


</div>